
<!DOCTYPE html>
<html >
<head>

</head>
<body>
	<div id='bg'>
		<div id='newrecord' >
			<fieldset>
        <header> <h1>Rahul Gundapaneni </h1> 
            <h1>1001863512 </h1> 
            <br>
			<a href="/">Click Here for Home Page</a>
             </header>
            </div>
		<br> <br>
		<div id='newrecord' >
		With Redis
		<form method='POST' action="/redis">
			
			<p>Mag 1 <input type="text" name="m1"> <br><br></p>
			<p>Mag 2 <input type="text" name="m2"><br><br></p>
			<input type="submit" >
		
		</form>
	</div>

	<div id='newrecord' >
		<p>without redis</p>
		<form method='POST' action="/withoutredis">
			
			<p>Mag 1 <input type="text" name="m1"> <br><br><p>
			<p>Mag 2 <input type="text" name="m2"><br><br></p>
			<input type="submit" >
		
		</form>
	</div>
	</div>
</body>
</html>